@import "../../common/Colors.scss";
.containerButtonBack {
  width: 170px;
  height: 24px;
  .white {
    color: $white-color;
    &:hover {
      color: #cbcbcb;
    }

    svg {
      path {
        fill: $white-color;
      }
      &:hover {
        fill: red;
      }
    }
  }

  .grey {
    color: $black-default;
    &:hover {
      color: $black-hover;
    }
    &:focus {
      color: $black-press;
    }
    svg path {
      fill: $black-default;
    }
  }

  .buttonBack {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "SF Pro Rounded";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: 900px) {
    .buttonBack p {
      display: none;
    }
  }
  svg {
    width: 13.64px;
    height: 23px;
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .containerButtonBack {
    width: 54px;
  }
}
