.containerIcones {
  width: auto;
  height: auto;
  line-height: 40px;
  display: flex;
  a {
    margin: 0px 16px 0 16px;
    width: 18.92px;
    height: 15.38px;
    display: flex;
    align-items: center;
  }
}
