$blue-color: #334d80;
$green-default: #37d2a9;
$green-hover: #33be99;
$green-press: #9be9d4;
$green-disabled: #c6c6c6;
$white-color: #ffffff;
$grey-color: #e5e5e5;
$purple-color: #b485ff;
$black-default: #37414e;
$black-hover: #111418;
$black-press: #6d819c;
